Source: captive-portal-daemon
Section: unknown
Priority: extra
Maintainer: The Doctor <drwho@virtadpt.net>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://project-byzantium.org/
Vcs-Git: git://github.com/Byzantium/Byzantium.git

Package: captive-portal-daemon
Architecture: all
Depends: python2.6, python-cherrypy, python-mako, 
Description: Byzantium node autoconfiguration daemon.
 This is the autoconfiguration daemon that runs at boot-time when Byzantium
 Linux starts up.  It configures the wireless interface and the TCP/IP stack
 for same.
