Source: verify-operation
Section: unknown
Priority: extra
Maintainer: The Doctor <drwho@virtadpt.net>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://project-byzantium.org/
Vcs-Git: git://github.com/Byzantium/Byzantium.git

Package: verify-operation
Architecture: all
Depends: midori
Description: Determines whether or not Byzantium autoconfiguration worked.
 These resources run whenever a user logs into a graphical interactive session
 on the ByzPi node and starts Firefox/Iceweasel with either a "Yay!" or "Nay.."
 page.
