Source: captive-portal-daemon
Section: unknown
Priority: extra
Maintainer: The Doctor <drwho@virtadpt.net>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://project-byzantium.org/
Vcs-Git: git://github.com/Byzantium/Byzantium.git

Package: captive-portal-daemon
Architecture: all
Depends: python, python-cherrypy3, python-mako 
Description: Byzantium captive portal daemon.
 This is the captive portal daemon that grabs wireless clients when they
 connect and forces them to click through.
