Source: service-directory
Section: unknown
Priority: extra
Maintainer: The Doctor <drwho@virtadpt.net>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://project-byzantium.org/
Vcs-Git: git://github.com/Byzantium/Byzantium.git

Package: service-directory
Architecture: all
Depends: apache2, avahi-daemon, bash, libavahi-compat-libdnssd1, libavahi-client3, python
Description: Byzantium node service directory.
 This is the collection of Python CGI-BIN scripts, shell scripts, and HTML that
 makes up the service directory on the frontpage of every Byzantium node.
