Source: autoconfigd
Section: unknown
Priority: extra
Maintainer: The Doctor <drwho@virtadpt.net>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://project-byzantium.org/
Vcs-Git: git://github.com/Byzantium/Byzantium.git

Package: autoconfigd
Architecture: all
Depends: python, wireless-tools, iputils-arping, dnsmasq, olsrd
Description: Byzantium node autoconfiguration daemon.
 This is the autoconfiguration daemon that runs at boot-time when Byzantium
 Linux starts up.  It configures the wireless interface and the TCP/IP stack
 for same.
